:root {
  --main-theme-blue: #1a73e8;
  --main-anchor-dark: rgb(88, 88, 88);
  --main-anchor-blue: #1d75e9;
  --main-theme-lightblue: #f6f8fc;
  --main-theme-lightgrey: #fbfbfb;
}

html {
  /* font-size: 62.5%; */
}

/* ===================================================================================
   Header, Main, Footer
   ==================================================================================== */

/* ==========================================
   Header
   ==========================================*/
#search-nav {
  border-bottom: 0.1rem solid lightgray;
}

span.logo-line-1 {
  color: black;
  font-weight: 500;
  font-size: 1.4rem;
}

span.logo-line-2 {
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--main-theme-blue);
}

#home-search-control {
  -color: #f8f4f4;
  min-width: 30rem;
  padding-left: 2.5rem;
}

button.search {
  float: left;
  position: absolute;
  top: 0.7rem;
  border: none;
  background-color: transparent;
  width: 1rem;
  height: 1rem;
  color: rgb(78, 78, 78);
}

#account-drop-down {
  padding: 0.6rem;
  border-radius: 0.7rem;
  background-color: var(--main-theme-blue);
}

#account-drop-down {
  box-shadow: 1px 1px 7px 3px #a2afe2;
  cursor: pointer;
}

#account-drop-down:hover #drop-down-content {
  display: block;
}

#drop-down-content {
  position: absolute;
  z-index: 2;
  display: none;
  right: 2rem;
  top: 3rem;
  width: auto;
  height: auto;
  color: var(--main-anchor-dark);
  min-width: 25rem;
  padding: 1rem 1rem;
  background-color: var(--main-theme-lightblue);
  margin: 0rem;
  margin-top: 0.4rem;
  border: 0.1rem solid #c0c0c0;
  border-radius: 0.6rem;
  font-size: small;
}
.drop-down-content-container {
  background-color: white;
  border-radius: 0.6rem;
  padding: 0.7rem 0.7rem;
}

.drop-down-content-body > .d-flex,
.drop-down-content-footer {
  min-height: 3rem;
  align-items: center;
}
.drop-down-content-body > .d-flex:hover,
.drop-down-content-footer:hover {
  background-color: var(--main-theme-lightblue);
  cursor: pointer;
}

#drop-down-content a {
  color: var(--main-anchor-dark);
}

.drop-down-icon {
  flex: 0 0 5rem;
  text-align: center;
}

.menu-bar {
  font-size: 0.9rem;
  font-weight: 600;
}

.menu-bar > * {
  margin: 0 0.3rem;
}

/* ==========================================
   Main
   ==========================================*/

#main-div {
  padding-top: 10rem;
}

/* ==========================================
   Chat
   ==========================================*/

#main-chat-container {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 600ms, visibility 600ms;
  transition: opacity 600ms, visibility 600ms;
  bottom: 4rem;
  right: 2rem;
  height: 500px;
  width: 450px;
  /* overflow-y: scroll; */
}

#chat-gpt {
  position: fixed;
  bottom: 1rem;
  right: 2rem;
  z-index: 40;
  /* right: 1rem; */
}

.show {
  display: block;
}

.btn.chat-gpt-toggle-btn {
  font-weight: bold;
  width: max-content;
  color: floralwhite;
}

/* ==========================================================================
   HTML Elements
   ========================================================================== */
/* ==========================================
   Anchor
   ==========================================*/
a {
  text-decoration: none;
  color: var(--main-anchor-blue);
  margin: 0;
  padding: 0;
}

a:link,
a:visited {
  text-decoration: none;
  color: var(--main-anchor-blue);
}

a.link-disabled {
  pointer-events: none;
  cursor: default;
}

.menu-bar > a {
  color: var(--main-anchor-dark);
}

.crd-source a {
  color: var(--main-anchor-dark);
  font-weight: 600;
}

.crd-title a:hover {
  text-decoration: underline;
}

.feed-col .crd {
  min-height: 9rem;
}

/* ==========================================
   Img
   ==========================================*/

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

div.img-xxs {
  width: 2rem;
  height: auto;
}

div.img-xs {
  width: 5rem;
  height: auto;
}

div.img-sm {
  width: 6rem;
  height: auto;
}

img.round {
  border-radius: 0.7rem;
}

img.avatar {
  border-radius: 50%;
  display: inline-block;
}

div.img-icon {
  display: inline-block;
  max-width: 1rem;
  max-height: 1rem;
  margin-right: 0.5rem;
}

.crd-image img {
  max-height: 20rem;
}

div.img-avatar {
  display: inline-block;
  background-color: #1491d4;
  color: floralwhite;
  border-radius: 50%;
  min-width: 2rem;
  max-height: 2rem;
  text-align: center;
  font-size: 1.3rem;
}

/* ==========================================
   List
   ==========================================*/

ul.no-list-style {
  list-style: none;
  padding: 0;
}

ul.stream-sub-list {
  background-color: white;
  border-radius: 1.5rem;
  padding: 1rem;
}

ul.stream-sub-list li {
  background-color: var(--main-theme-lightblue);
  border: 0.1rem rgb(250, 248, 248) solid;
  border-radius: 0.4rem;
  padding: 0.6rem;
}

ul.stream-sub-list li:hover {
  cursor: pointer;
}

/* ==========================================
   Font
   ==========================================*/

.topic-navigator {
  font-size: 1.2rem;
}

/* ==========================================
   Divider
   ==========================================*/

hr.vr {
  margin-top: 0.2rem;
  margin-right: 0.2rem;
  width: 1px;
  height: 2rem;
  display: inline-block;
}
/* ==========================================
   Form, Input, Select, Table, Button
   ==========================================*/
input,
select,
textarea,
button {
  padding: 1rem;
  border: 0.1rem #a4a4a4 solid;
  border-radius: 0.3rem;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button:hover,
select:hover,
ul.stream-sub-list li:hover {
  -webkit-filter: brightness(90%);
  -moz-filter: brightness(90%);
  -o-filter: brightness(90%);
  -ms-filter: brightness(90%);
  filter: brightness(90%);
  cursor: pointer;
}

button.home-sign-in {
  width: 7rem;
  min-height: 2.4rem;
  background-color: var(--main-theme-blue);
  color: floralwhite;
  font-weight: bold;
}

form.sign-in {
  margin-top: 2rem;
  background-color: white;
  box-shadow: 0px 0px 1.2rem #c5c4c4;

  border-radius: 2rem;
  padding: 2rem 3rem;
}

form.sign-in input {
  height: 2.5rem;
}

form.sign-in > div {
  margin-bottom: 1.5rem;
}

/* ==========================================
   Card, Box 
   ==========================================*/

.crd {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  /* height: 30rem; */
  /* max-height: 30rem; */
  margin: 0.5rem 0;
  background-color: #ffffff;
  border-radius: 1rem;
  padding-bottom: 0.5rem;
}

.crd.feed-col {
  /* max-width: 30rem;
  min-width: 30rem; */
  /* min-height: 50rem; */
}

.bookmark-icon-container {
  vertical-align: middle;
  padding-left: 1rem;
}

.bookmark-icon-container:hover {
  cursor: pointer;
}

.box {
  border: 0.1rem solid rgb(224, 217, 217);
  border-radius: 0 0 8px 8px;
  position: relative;
  padding: 1rem 1.5rem;
}

#loading-box {
  width: 99vw;
  height: 99vh;
  background-color: white;
}

#loading-box span {
  color: #1e3050;
  font-weight: 500;
  font-size: 1.2rem;
}

.stat-card {
  background-color: var(--main-theme-lightgrey);
  padding: 2rem 3rem;
  display: flex;
  justify-content: space-between;
}

/* =====================================================================================
   Page CSS
   ===================================================================================== */

.entry-content p {
  font-size: 1.5rem;
}

div.sign-in {
  max-width: 23rem;
}
div.register {
  max-width: 30rem;
}

form.sign-in > div {
  display: flex;
  flex-direction: column;
}

#feedly-content {
  background-color: var(--main-theme-lightblue);
}

.feeds-search-container {
  background-color: #e9e8e820;
  box-shadow: 0px 0px 1.2rem #c5c4c4;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  padding: 2rem;
}

.feeds-search-content {
  /* border-left: 0.1rem solid #c0c0c0;
  border-right: 0.1rem solid #c0c0c0; */
  min-height: 100%;
}

.sub-list-col {
  height: 15rem;
  justify-content: center;
  align-items: center;

  border: 0.1rem rgb(250, 248, 248) solid;
  background-color: #cfdaf0;
  padding: 1rem 0.6rem;
  border-radius: 1.5rem;
}

.teal {
  color: #3fb7ad;
}

.orange {
  color: #e6742f;
}

.green {
  color: #00bc72;
}

.blue {
  color: #43bffb;
}

/* =====================================================================================
   Responsive Layout
   ===================================================================================== */
div.container {
  padding: 1rem 0;
}

.flex-fill {
  flex: 1 1 auto;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .crd small {
    font-size: 0.5rem;
  }
  .crd h5,
  .crd span {
    font-size: 0.6rem;
  }
  #main-chat-container {
    width: 80%;
    height: 60%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .crd small,
  .crd span {
    font-size: 0.4rem;
  }
  .crd h5 {
    font-size: 0.7rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .crd small,
  .crd span {
    font-size: 0.4rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .crd small,
  .crd span {
    font-size: 0.8rem;
  }
  .crd h5,
  .crd span {
    font-size: 1rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
